/*--------------------------------------------------------------
# General Classes
--------------------------------------------------------------*/
body {
  font-family: "Poppins", sans-serif;
  color: #fa0303;
  margin: 0;
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  font-weight: bolder;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}

/*--------------------------------------------------------------
# Sections General Styles
--------------------------------------------------------------*/
section {
  padding: 0px;
}

/*--------------------------------------------------------------
# CSS Animations @keyframes
--------------------------------------------------------------*/
@keyframes key-fadein {
  0%      {opacity: 0;}
  100%    {opacity: 1;}
}

@keyframes key-background-lg {
  0%      { transform: scale(1.05); }
  100%    { transform: scale(1.15); }
}

@keyframes key-background-sm {
    0%   { transform: scale(1.03); }
    100% { transform: scale(1.10); }
  }

/*-- Reduce Motion for accessability --*/
@media (prefers-reduced-motion: reduce){
  #hero .background { animation: none; transform: none;}
}

/*--------------------------------------------------------------
# Header Section
--------------------------------------------------------------*/
/*-- General --*/
#header {
  width: 100%;
  height: 10vh;
  transition: all 0.5s;
  z-index: 4;
  margin: 10px 0;
  /*background: rgba(78, 200, 237, 0.9);*/
  justify-content: center;
  background: transparent;
}

/* General: Default Classes */
#header img {
  display: block;
}

/*-- General: Grid Layout Classes--*/
#header .container {
  max-width: 80%;
  margin: 0;
  height: 100%;
}

#header .container.container-transparant{
  background: transparent;
}

#header .container.container--scrolled {
  background: rgba(221, 29, 71, 0.9);
  border-radius: 15px;
}

/*-- General: Custom Layout Classes --*/
#header .logo {
  visibility: hidden;
}

#header .logo a {
  color: #fff;
}

#header .logo img {
  max-height: 7vh;
}

#header .offcanvas{
  background-image: url("../img/Background.jpg");
  height: 100%;
}

#header .offcanvas-header {
  background: rgba(255,255,255,.07);
  /*background: rgba(255,255,255,0.7);*/
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  border-radius: 15px;
  border: 2px solid rgba(255,255,255);
  margin: 10px;
  margin-bottom: 5px;
  padding: 10px;
  height: 10vh;
}

#header .offcanvas-body {
  text-align: center;
  background: rgba(255,255,255,.07);
  /*background: rgba(255,255,255,0.7);*/
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  border-radius: 15px;
  border: 2px solid rgba(255,255,255);
  margin: 10px;
  margin-top: 5px;
  padding: 10px;
}

#header .offcanvas-body li a {
  font-weight: 700;
  color: #fff;
  letter-spacing: 0.03em;
  font-size: clamp(25px, 7vw, 40px);
  line-height: 1.0; 
}

#header .dropdown-menu li a {
  font-weight: 700;
  color: #000000;
  letter-spacing: 0.03em;
  font-size: clamp(25px, 7vw, 40px);
  line-height: 1.0; 
}

@media (min-width: 992px) {
  #header .logo img {
    max-height: 9vh;
  }

  #header .offcanvas{
    background-image: none;
  }

  #header .offcanvas-header {
    background: none;
    -webkit-backdrop-filter: blur(0px);
    backdrop-filter: none;
    border-radius: 0px;
    border: none;
    margin: 0px;
    margin-bottom: 0px;
    padding: 0px;
    height: 100%;
  }

  #header .offcanvas-body {
    text-align: none;
    background: none;
    -webkit-backdrop-filter: blur(0px);
    backdrop-filter: none;
    border-radius: 0px;
    border: none;
    margin: 0px;
    margin-top: 0px;
    padding: 0px;
  }

  #header .offcanvas-body li a {
    font-weight: 600;
    color: #fff;
    letter-spacing: 0.03em;
    font-size: clamp(25px, 1.6rem, 35px);
    line-height: 1.0; 
    text-transform: uppercase;
  }

  #header .dropdown-menu li a {
    font-weight: 600;
    color: #000000;
    letter-spacing: 0.03em;
    font-size: clamp(25px, 1.6rem, 35px);
    line-height: 1.0; 
    text-transform: uppercase;
  }

}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/

/*-- General --*/
#hero {
  width: 100%;
  height: 100vh;
  min-height: 100vh;
  min-height: 100dvh;
  min-height: 100svh;
  position: relative;
  isolation: isolate;
  overflow: hidden;
}

/* General: Default Classes */
#hero img {
  display: block;
}

#hero h1 > div {
  overflow: hidden;
}

#hero h1 {
  margin: 0;
  font-weight: 700;
  color: #fff;
  white-space: nowrap;
  letter-spacing: 0.03em;
  font-size: clamp(30px, 9vw, 40px);
  line-height: 1.0; 
}

#hero h2 {
  margin: 0;
  font-weight: 700;
  color: #fff;
  white-space: nowrap;
  letter-spacing: 0.03em;
  font-size: clamp(30px, 8vw, 40px);
  line-height: 1.0; 
}

#hero h3 {
  margin: 0;
  font-weight: 700;
  color: #fff;
  white-space: nowrap;
  letter-spacing: 0.03em;
  font-size: clamp(30px, 7vw, 40px);
  line-height: 1.0; 
}

/* General: Default Classes - RESPONSIVE */
@media (min-width: 992px) {
  #hero h1 {
    font-size: clamp(80px, 5vw, 90px);
  }

  #hero h2 {
    font-size: clamp(60px, 4vw, 70px);
  }

  #hero h3 {
    font-size: clamp(30px, 2vw, 40px);
  }
}
/*-- General: Custom Classes --*/

/*-- General: Background Classes --*/
#hero .background {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
  transform-origin: center center;
  animation: key-background-lg 24s ease-in-out infinite alternate;
  will-change: transform;
}

@media (max-width: 576px) {
  #hero .background{ animation-name: key-background-sm; }
}

@media (orientation: portrait) {
  #hero .background { object-position: 55% 40%; }
}

/*-- General: Logo Overlay Classes --*/
#hero .logo-overlay,
#hero .logo-overlay .img-logo {
  visibility: hidden;
  height: 0%;
}

@media (min-width: 992px) {
  #hero .logo-overlay {
    position: absolute;
    inset: 0;
    pointer-events: none;
    z-index: 2;
    color: #ffffff;
    align-items: start;
    justify-content: end;
    visibility: visible;
  }

  #hero .logo-overlay .img-logo {
    padding-top: 5%;
    padding-right: 10%;
    display: block;
    height: auto;
    max-width: clamp(430px, 35%, 500px);
    opacity: 0;
    animation: key-fadein 0.5s ease-in forwards;
    visibility: visible;
  }
}

/*-- General: Grid Layout Classes--*/
#hero .container {
  max-width: 100%;
  margin: 0;
  height: 100%;
  z-index: 3;
}

#hero .row-info {
  height: 25%;
}

#hero .row-logo {
  visibility: visible;
  height: 25%;
}

#hero .row-logo .img-logo {
  display: block;
  width: auto;
  max-height: 80%;
  opacity: 0;
  animation: key-fadein 0.5s ease-in forwards;
  visibility: visible;
}

#hero .row-tag-line1,
#hero .row-tag-line2,
#hero .row-savethedate,
#hero .row-date,
#hero .row-distance{
  height: 10%;
}

#hero .col-distance,
#hero .col-social {
  justify-content: center;
  align-items: start;
}

@media (min-width: 992px) {
  #hero .row-distance {
  height: 25%;
  }

  #hero .row-info {
    height: 20%;
  }

  #hero .row-tag-line1,
  #hero .row-tag-line2 {
    height: 10%;
  }

  #hero .row-savethedate,
  #hero .row-date {
    height: 20%;
  }

  #hero .row-logo,
  #hero .row-logo .img-logo  {
    height: 0%;
    visibility: hidden;
  }
  #hero .col-distance,
  #hero .col-social {
    justify-content: center;
    align-items: center;
  }
}

/*-- General: Custom Layout Classes --*/
#hero .tag-fill {
  display: inline-block;
  vertical-align: 0.10em;
  line-height: 0;
}

#hero .tag-fill-svg-h1 {
  display: inline-block;
  height: clamp(30px, 9vw, 40px);
  width: auto;
  filter: drop-shadow(0 6px 16px rgba(0,0,0,.25))
}

#hero .tag-fill-svg-h3 {
  display: inline-block;
  height: clamp(30px, 9vw, 40px);
  width: auto;
  filter: drop-shadow(0 6px 16px rgba(0,0,0,.25))
}

#hero .tag-nofill {
  display: inline-flex;
  padding: 0.5rem 2rem;
  background: rgba(255,255,255,.06);
  /*background: rgba(75,200,237,.08);*/
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
  border-radius: 15px; /* pill shape */
  position: relative;
  border:5px solid rgba(255,255,255);
  overflow: hidden;
  width:max-content;
  align-items:center; 
  gap:.6rem; 
  height: 60%;
}

#hero .img-distance {
  margin-right: 1%;
  margin-left: 1%;
  max-height: 80%;
  width: auto;
  display: block;
  opacity: 0;
  animation: key-fadein 0.5s ease-in forwards;
}

/*-- General: Custom Layout Classes - RESPONSIVE --*/
@media (min-width: 992px) {
  #hero .img-distance {
    display: block;
    width: auto;
    max-height: clamp(20px, 40%, 100px);
  }

  #hero .tag-fill-svg-h1 {
    height: clamp(80px, 5vw, 90px);
    width: auto;
  }

  #hero .tag-fill-svg-h3 {
    height: clamp(40px, 4vw, 50px);
    width: auto;
  }

  #hero .tag-nofill {
    padding: 0.5rem 3rem;
    height: clamp(90px, 50%, 100px);
  }
}