/*--------------------------------------------------------------
# ::root variables
--------------------------------------------------------------*/
:root {
  --scr-colour-brown: rgb(88, 58, 29);
  --scr-colour-white: rgb(251,245,234);
  --scr-colour-green: rgb(80, 75, 48);
  --scr-colour-lightgreen: rgb(0, 38, 34);
  --scr-colour-kidsrun: rgb(250, 175, 8);
  --scr-colour-6k: rgb(222, 73, 88);
  --scr-colour-10k: rgb(222, 121, 73);
  --scr-colour-16k: rgb(78, 73, 88);

}

/*--------------------------------------------------------------
# Default HTML elements
--------------------------------------------------------------*/

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--scr-colour-brown);
}

a:hover {
  font-weight: bolder;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}

/*--------------------------------------------------------------
# CSS Animations @keyframes
--------------------------------------------------------------*/
@keyframes key-fadein {
  0%      {opacity: 0;}
  100%    {opacity: 1;}
}

@keyframes key-navfadein {
  0%      {background: rgba(0, 0, 0, 0);}
  100%    {background: var(--scr-colour-brown); opacity: 0.8;}
}

@keyframes key-navlogofadein {
  0%      {opacity: 0;}
  100%    {opacity: 1;}
}

@keyframes key-background-lg {
  0%      { transform: scale(1.10); }
  100%    { transform: scale(1.00); }
}

@keyframes key-background-sm {
    0%   { transform: scale(1.03); }
    100% { transform: scale(1.10); }
  }

/*-- Reduce Motion for accessability --*/
@media (prefers-reduced-motion: reduce){
  #hero .background {animation: none; transform: none;}
  #header .logo-scrolled {animation: none; transform: none;}
  #header .nav-scrolled {animation: none; transform: none;}
}

/*--------------------------------------------------------------
# Sections General Styles
--------------------------------------------------------------*/
section {
  padding: 0px;
}

@media (min-width: 992px) {
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
/*-- General --*/
#header {
  width: 100%;
  height: 8vh;
  transition: all 0.5s;
  z-index: 1000;
  margin: 10px 0;
  justify-content: center;
}

@media (min-width: 992px) {
}

/*-- General: Default Classes --*/
#header img {
  display: block;
}

@media (min-width: 992px) {
}

/*-- General: Custom Classes --*/
#header .logo {
  visibility: hidden;
  max-height: 7vh;
}

#header .logo img {
  padding-top: 5px;
  max-height: 7vh;
}

@media (min-width: 992px) {
  #header .logo-scrolled {
    max-height: 7vh;
    visibility: visible;
    opacity: 0;
    animation: key-navlogofadein 0.5s ease-in forwards;
  }
}

#header .button {
  display: inline-flex;
  padding: 0.5rem 2rem;
  background: var(--scr-colour-brown) transparent;
  -webkit-backdrop-filter: blur(0px);
  backdrop-filter: blur(0px);
  border-radius: 15px;
  position: relative;
  border:2px solid var(--scr-colour-white);
  overflow: hidden;
  width:max-content;
  align-items:center; 
  gap:.6rem;  
  height: 50%;
  text-transform: uppercase;
  margin-bottom: 10px;
}

#header .button:hover {
  background: var(--scr-colour-green);
  color: var(--scr-colour-white) !important;
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
}

@media (min-width: 992px) {
  #header .button {
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);
    height: clamp(40px, 10%, 50px);
    text-transform: uppercase;
  }

  #header .button:hover {
    -webkit-backdrop-filter: blur(0px);
    backdrop-filter: blur(0px);
  }
}

#header .navbar-toggler {
  border: 3px solid var(--scr-colour-white);
}
 
#header .navbar-toggler-icon {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAVUlEQVR4AeyRMQoAMAgDa///Z7sng8NRC8VsASExt9dlTUA58IcTJZRu1j9RQL3/QBtQbwwg49RCFqAH1FsAZBxayAL0gPr+gIGszPoZaAPq54NywQMAAP//CKe8lQAAAAZJREFUAwDwM8AxjA3xdAAAAABJRU5ErkJggg==);
}

#header .offcanvas{
  background-color: var(--scr-colour-brown);
  margin: 5%;
  height: 90%;
}

#header .offcanvas-header {
  visibility: visible;
}

#header .offcanvas-body {
  text-align: center;
  margin: 10px;
  margin-top: 5px;
  padding: 10px;
}

#header .offcanvas-body li a {
  font-weight: 700;
  color: var(--scr-colour-white);
  letter-spacing: 0.03em;
  font-size: clamp(20px, 6vw, 40px);
  line-height: 1.0; 
  text-transform: uppercase;
}

#header .offcanvas-body li a:hover {
  color: var(--scr-colour-green);
}

#header .offcanvas-footer {
  visibility: visible;
}

#header .offcanvas-footer img {
  max-width: 50%;
  margin-bottom: 20%;
}

@media (min-width: 992px) {
  #header .offcanvas-header {
    visibility: hidden;
  }

  #header .offcanvas-body {
    justify-content: end;
    margin: 0px;
    margin-top: 0px;
    padding: 10px;
  }

  #header .offcanvas-body li a {
    font-weight: 400;
    font-size: 20px;
  }

  #header .offcanvas-footer {
    visibility: hidden;
  }
}

@media (min-width: 992px) {
  #header .nav-transparent {
    background: transparent;
  }

  #header .nav-scrolled {
    background: var(--scr-colour-brown);
    border-radius: 15px;
    animation: key-navfadein 0.2s ease-in forwards;
  }
}

#header .dropdown-menu li a {
  font-weight: 700;
  color: var(--scr-colour-white);
  letter-spacing: 0.03em;
  font-size: clamp(25px, 7vw, 40px);
  line-height: 1.0; 
  text-transform: uppercase;
}

@media (min-width: 992px) {
  #header .dropdown-menu li a {
    font-weight: 600;
    font-size: clamp(25px, 1.6rem, 35px);
  }
}

/*-- General: Grid Layout Classes--*/
#header .container {
  max-width: 90%;
  margin: 0;
  height: 100%;
}

@media (min-width: 992px) {
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/

/*-- General --*/
#hero {
  width: 100%;
  height: 100vh;
  min-height: 100vh;
  min-height: 100dvh;
  min-height: 100svh;
  position: relative;
  isolation: isolate;
  overflow: hidden;
}

@media (min-width: 992px) {
}

/*-- General: Default Classes --*/
#hero img {
  display: block;
}

#hero h1 > div {
  overflow: hidden;
}

#hero h1 {
  margin: 0;
  font-weight: 700;
  color: var(--scr-colour-white);
  white-space: nowrap;
  letter-spacing: 0.03em;
  font-size: clamp(30px, 9vw, 40px);
  line-height: 1.0; 
}

#hero h2 {
  margin: 0;
  font-weight: 700;
  color: var(--scr-colour-white);
  white-space: nowrap;
  letter-spacing: 0.03em;
  font-size: clamp(30px, 8vw, 40px);
  line-height: 1.0; 
}

#hero h3 {
  margin: 0;
  font-weight: 700;
  color: var(--scr-colour-white);
  white-space: nowrap;
  letter-spacing: 0.03em;
  font-size: clamp(30px, 7vw, 40px);
  line-height: 1.0; 
}

#hero a {
  color: var(--scr-colour-white);
}

@media (min-width: 992px) {
  #hero h1 {
    font-size: clamp(50px, 4vw, 70px);
  }

  #hero h2 {
    font-size: clamp(50px, 3.3vw, 60px);
  }

  #hero h3 {
    font-size: clamp(30px, 2vw, 40px);
  }
}

/*-- General: Custom Classes --*/
#hero .background {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
  transform-origin: center center;
  animation: key-background-lg 0.2s linear;
}

@media (max-width: 576px) {
  #hero .background{ animation-name: key-background-sm; }
}

@media (orientation: portrait) {
  #hero .background { object-position: 55% 40%; }
}

#hero .img-logo {
  display: block;
  width: auto;
  max-height: 80%;
  opacity: 0;
  animation: key-fadein 0.5s ease-in forwards;
  visibility: visible;
}

#hero .img-distance {
  margin-right: 1%;
  margin-left: 1%;
  max-height: 80%;
  width: auto;
  display: block;
  opacity: 0;
  animation: key-fadein 0.5s ease-in forwards;
}

@media (min-width: 992px) {
  #hero .img-logo  {
    visibility: visible;
    max-height: 60%;
  }

  #hero .img-distance {
    max-height: clamp(85px, 80%, 111px);
  }
}

#hero .button {
  display: inline-flex;
  padding: 0.5rem 2rem;
  background: transparent;
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
  border-radius: 15px;
  position: relative;
  border:5px solid var(--scr-colour-white);
  overflow: hidden;
  width:max-content;
  align-items:center; 
  gap:.6rem;  
  height: 50%;
  text-transform: uppercase;
  margin-bottom: 10px;
  margin: 0;
  font-weight: 700;
  color: #fff;
  white-space: nowrap;
  letter-spacing: 0.03em;
  font-size: clamp(30px, 8vw, 40px);
  line-height: 1.0; 
}

#hero .button:hover {
  background: var(--scr-colour-green);
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
}

@media (min-width: 992px) {
  #hero .button {
    display: block;
    height: clamp(72px, 40%, 80px);
  }
}

#hero .tag-fill {
  display: inline-block;
  vertical-align: 0.10em;
  line-height: 0;
}

#hero .tag-fill-svg-h1 {
  display: inline-block;
  height: clamp(30px, 9vw, 40px);
  width: auto;
  filter: drop-shadow(0 6px 16px rgba(0,0,0,.25));
}

#hero .tag-fill-svg-h3 {
  display: inline-block;
  height: clamp(40px, 12vw, 50px);
  width: auto;
  filter: drop-shadow(0 6px 16px rgba(0,0,0,.25));
  text-transform: uppercase;
}

#hero .tag-nofill {
  display: inline-flex;
  padding: 0.5rem 2rem;
  background: rgba(255,255,255,.06);
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
  border-radius: 15px; 
  position: relative;
  border:5px solid var(--scr-colour-white);
  overflow: hidden;
  width:max-content;
  align-items:center; 
  gap:.6rem; 
  height: 60%;
}

@media (min-width: 992px) {
  #hero .tag-fill-svg-h1 {
    height: clamp(50px, 4vw, 70px);
    width: auto;
  }

  #hero .tag-fill-svg-h3 {
    height: clamp(60px, 4vw, 70px);
    width: auto;
  }

  #hero .tag-nofill {
    padding: 0.5rem 3rem;
    height: clamp(72px, 40%, 80px);
  }
}

/*-- General: Grid Classes--*/
#hero .hero-mobile {
  visibility: visible;
  z-index: 4;
  height: 100vh;
}

#hero .hero-desktop {
  visibility: hidden;
  z-index: 5;
  height: 0vh;
}

#hero .container {
  max-width: 100%;
  margin: 0;
}

#hero .row-info,
#hero .row-logo {
  height: 25%;
}

#hero .row-tag-line1 {
  height: 15%;
}

#hero .row-location,
#hero .row-date,
#hero .row-distance{
  height: 10%;
}

#hero .row-tag-line2 {
  height: 5%;
}

#hero .col-distance,
#hero .col-social {
  justify-content: center;
  align-items: start;
  margin-top: 10px;
}

@media (min-width: 992px) {
    #hero .hero-mobile {
    visibility: hidden;
    height: 0vh;
  }

  #hero .hero-desktop {
    visibility: visible;
    height: 100vh;
  }
  
  #hero .row-info,
  #hero .row-distance {
    height: 15%;
  }

    #hero .row-social {
    height: 15%;
    padding-top: 2%;
  }

  #hero .row-tag-line1 {
    height: 35%;
  }

  #hero .row-tag-line2,
  #hero .row-date {
    height: 10%;
  }

  #hero .row-location {
    height: 10%;
    margin-top: 10px;
  }

  #hero .row-logo {
    height: 65%;
    visibility: visible;
  }

  #hero .col-distance,
  #hero .col-social {
    justify-content: center;
    align-items: center;
  }
}

/*--------------------------------------------------------------
# Hero Section - Subpages
--------------------------------------------------------------*/
/*-- General --*/
#hero-sub {
  width: 100%;
  height: 60vh;
  min-height: 60vh;
  min-height: 60dvh;
  min-height: 60svh;
  position: relative;
  isolation: isolate;
  overflow: hidden;
}

@media (min-width: 992px) {
}

/*-- General: Default Classes --*/
#hero-sub h1 {
  margin: 0;
  font-weight: 700;
  color: var(--scr-colour-white);
  white-space: nowrap;
  letter-spacing: 0.03em;
  font-size: clamp(30px, 9vw, 40px);
  line-height: 1.0; 
}

@media (min-width: 992px) {
  #hero-sub h1 {
    font-size: clamp(50px, 4vw, 70px);
  }
}

/*-- General: Custom Classes --*/
#hero-sub .background {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
  transform-origin: center center;
  animation: key-background-lg 0.2s linear;
}

@media (max-width: 576px) {
  #hero-sub .background{ animation-name: key-background-sm; }
}

@media (orientation: portrait) {
  #hero-sub .background { object-position: 55% 40%; }
}

#hero-sub .tag-fill {
  display: inline-block;
  vertical-align: 0.10em;
  line-height: 0;
}

#hero-sub .tag-fill-svg-h1 {
  display: inline-block;
  height: clamp(30px, 14vw, 65px);
  width: auto;
  filter: drop-shadow(0 6px 16px rgba(0,0,0,.25));
}

@media (min-width: 992px) {
  #hero-sub .tag-fill-svg-h1 {
    height: clamp(80px, 6vw, 100px);
    width: auto;
  }
}

/*-- General: Grid Classes--*/
#hero-sub .container {
  max-width: 100%;
  margin: 0;
  padding-top: 45px;
}

#hero-sub .img-logo {
  display: block;
  width: auto;
  max-height: 60%;
  opacity: 0;
  animation: key-fadein 0.5s ease-in forwards;
  visibility: visible;
}

/*--------------------------------------------------------------
# Main
--------------------------------------------------------------*/
/*-- General --*/

/*-- General: Default Classes --*/
#main h1 {
  margin-top: 25px;
  margin-bottom: 25px;
  font-weight: 900;
  color: var(--scr-colour-brown);
  letter-spacing: 0.03em;
  font-size: clamp(30px, 4.0rem, 65px);
  line-height: 1.0; 
  text-transform: uppercase;
}

#main h2 {
  margin-top: 25px;
  margin-bottom: 25px;
  font-weight: 700;
  color: var(--scr-colour-brown);
  letter-spacing: 0.03em;
  font-size: clamp(18px, 1.15rem, 20px);
  line-height: 1.0; 
  text-transform: uppercase;
}

#main h3 {
  margin-top: 50px;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 50px;
  font-weight: 600;
  color: var(--scr-colour-white);
  letter-spacing: 0.05em;
  font-size: clamp(18px, 2.15rem, 60px);
  line-height: 1.1; 
}

#main p {
  font-size: 0.89rem;
  display: block;
}

#main img {
  border-radius: 15px;
}

#main .col-12 {
  flex-direction: column;
}

/*-- General: Custom Classes --*/
#main .section-white {
  background: var(--scr-colour-white);
  color: var(--scr-colour-brown);
}

#main .section-green {
  background: var(--scr-colour-green);
  color: var(--scr-colour-white);
}

#main .section-brown {
  background: var(--scr-colour-brown);
  color: var(--scr-colour-white);
}

#main .row-highlight-lightgreen {
  background: var(--scr-colour-lightgreen);
  border-radius: 15px;
}

/*-- General: Grid Classes--*/

/*--------------------------------------------------------------
# Main: Info Section
--------------------------------------------------------------*/
/*-- General --*/
#info {
  width: 100%;
  position: relative;
  isolation: isolate;
  overflow: hidden;
  padding-top: 30px;
  padding-bottom: 50px;
  padding-left: 7%;
  padding-right: 7%;
}

/*-- General: Default Classes --*/

/*-- General: Custom Classes --*/
#info .d-row {
  flex-direction: row;
  margin-bottom: 15px;
}

#info .countdown-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--scr-colour-lightgreen);
    border-radius: 15px;
    padding: 12px;
    margin: 10px;
    width: 60px;
    height: 65px;
    box-shadow: 0 4px 8px var(--scr-colour-brown);
}

#info .countdown-number {
    font-size: 1.5rem;
    font-weight: 900;
    color: var(--scr-colour-white);
    margin-bottom: 4px;
}

#info .countdown-label {
    font-size: 0.7rem;
    color: var(--scr-colour-white);
    text-transform: uppercase;
    letter-spacing: 1px;
}

@media (min-width: 992px) {
  #info .d-row {
    flex-direction: row;
    width: 40vw;
  }

  #info .countdown-item {
    width: 100px;
    height: 100px;
  }
}

/*-- General: Grid Classes --*/
#info .container {
  max-width: 100%;
}

/*--------------------------------------------------------------
# Main: sfeer Section
--------------------------------------------------------------*/
/*-- General --*/
#sfeer {
  width: 100%;
  padding-top: 1px;
  padding-bottom: 0px;
}
/*-- General: Default Classes --*/
#sfeer h1 {
  font-size: 9vw;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  color: var(--scr-colour-lightgreen);
}

/*-- General: Custom Classes --*/
#sfeer .slider-item {
  box-sizing: content-box;
  width: 100%;
  height: auto;
  border-radius: 15px;
}

#sfeer .slider-wrapper{
  position: relative;
  z-index: 101;
  margin-top: -35px;
}

#sfeer .slider-text{
  position: relative;
  z-index: 100;
}

/*-- General: Grid Classes--*/
#sfeer .container {
  max-width: 100%;
}

@media (min-width: 992px) {
  #sfeer .slider-wrapper{
    margin-top: -65px;
  }
}

/*--------------------------------------------------------------
# Main: parcours Section
--------------------------------------------------------------*/
/*-- General --*/
#parcours {
  width: 100%;
  position: relative;
  isolation: isolate;
  overflow: hidden;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 7%;
  padding-right: 7%;
}

/*-- General: Default Classes --*/
#parcours h2,
#parcours p,
#parcours i {
  color: var(--scr-colour-white);
}

#parcours h3 {
  font-size: clamp(18px, 1.7rem, 60px) !important;
}

#parcours i {
  font-size: 50px;
}

@media (min-width: 992px) {
  #parcours h3 {
    font-size: clamp(18px, 2.15rem, 60px) !important;
  }
}

/*-- General: Custom Classes --*/
#parcours .button {
  display: inline-flex;
  padding: 0.5rem 2rem;
  background: var(--scr-colour-green);
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
  border-radius: 15px;
  position: relative;
  border:5px solid var(--scr-colour-white);
  overflow: hidden;
  width:max-content;
  align-items:center; 
  gap:.6rem;  
  height: 75%;
  text-transform: uppercase;
  margin-bottom: 10px;
  margin: 0;
  font-weight: 700;
  color: var(--scr-colour-white);
  white-space: nowrap;
  letter-spacing: 0.03em;
  font-size: clamp(15px, 1.2rem, 32px);
  line-height: 1.0; 
}

#parcours .button-arrow {
  font-size: clamp(15px, 1.5rem, 32px) !important;
}

#parcours .button:hover {
  background: var(--scr-colour-brown);
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
  transform: translateY(5px);
}

#parcours .button:hover .button-arrow {
  margin-left: 5px;
}

#parcours .distance-box-wrapper {
  margin: 15px;
}

#parcours .distance-box-container {
  position: relative;
  height: 30ch !important;
  padding: 0px;
}

#parcours .distance-box-text {
  position: absolute;
  inset: 0;
  z-index: 202;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10%;
  justify-content: flex-end;
  pointer-events: none;
}

#parcours .distance-box-text .text{
  align-self: stretch;
  text-align: left;
}

#parcours .distance-box-text .tag-kidsrun{
  font-size: 1.0rem;
  color: var(--scr-colour-white);
  background: var(--scr-colour-kidsrun);
  border:1px solid var(--scr-colour-white);
  border-radius: 15px;
  padding: 0.1rem 1rem;
  width: 50%;
  font-weight: 900;
  margin-bottom: 15px;
  text-align: center;
}

#parcours .distance-box-text .tag-6k{
  font-size: 1.0rem;
  color: var(--scr-colour-white);
  background: var(--scr-colour-6k);
  border:1px solid var(--scr-colour-white);
  border-radius: 15px;
  padding: 0.1rem 1rem;
  width: 50%;
  font-weight: 900;
  margin-bottom: 15px;
  text-align: center;
}

#parcours .distance-box-text .tag-10k{
  font-size: 1.0rem;
  color: var(--scr-colour-white);
  background: var(--scr-colour-10k);
  border:1px solid var(--scr-colour-white);
  border-radius: 15px;
  padding: 0.1rem 1rem;
  width: 50%;
  font-weight: 900;
  margin-bottom: 15px;
  text-align: center;
}

#parcours .distance-box-text .tag-16k{
  font-size: 1.0rem;
  color: var(--scr-colour-white);
  background: var(--scr-colour-16k);
  border:1px solid var(--scr-colour-white);
  border-radius: 15px;
  padding: 0.1rem 1rem;
  width: 50%;
  font-weight: 900;
  margin-bottom: 15px;
  text-align: center;
}

#parcours .distance-box-text .img-distance {
  height: auto;
  width: 20%;
}

#parcours .distance-box-kids {
  height: 100%;
  width: 100%;
  margin-right: 15px;
  background: url("../img/pictures/kids.jpg") top center;
  background-size: cover;
  position: relative;
  border-radius: 15px;
  overflow: hidden;
  z-index: 200;
}

#parcours .distance-box-kids:before {
  content: "";
  background-color: var(--scr-colour-brown);
  opacity: 0.6;
  position: absolute;
  inset: 0;
  z-index: 201;
}

#parcours .distance-box-kids:hover {
  transform: scale(1.02);
}

#parcours .distance-box-6k {
  height: 100%;
  width: 100%;
  background: url("../img/pictures/6k.jpg") top center;
  background-size: cover;
  position: relative;
  border-radius: 15px;
  overflow: hidden;
  z-index: 200;
}

#parcours .distance-box-6k:before {
  content: "";
  background-color: var(--scr-colour-brown);
  opacity: 0.6;
  position: absolute;
  inset: 0;
  z-index: 201;
}

#parcours .distance-box-6k:hover {
  transform: scale(1.02);
}

#parcours .distance-box-10k {
  height: 100%;
  width: 100%;
  margin-right: 15px;
  background: url("../img/pictures/10k.jpg") top center;
  background-size: cover;
  position: relative;
  border-radius: 15px;
  overflow: hidden;
  z-index: 200;
}

#parcours .distance-box-10k:before {
  content: "";
  background-color: var(--scr-colour-brown);
  opacity: 0.6;
  position: absolute;
  inset: 0;
  z-index: 201;
}

#parcours .distance-box-10k:hover {
  transform: scale(1.02);
}

#parcours .distance-box-16k {
  height: 100%;
  width: 100%;
  background: url("../img/pictures/16k.jpg") top center;
  background-size: cover;
  position: relative;
  border-radius: 15px;
  overflow: hidden;
  z-index: 200;
}

#parcours .distance-box-16k:before {
  content: "";
  background-color: var(--scr-colour-brown);
  opacity: 0.6;
  position: absolute;
  inset: 0;
  z-index: 201;
}

#parcours .distance-box-16k:hover {
  transform: scale(1.02);
}

@media (min-width: 992px) {
  #parcours .distance-box-container {
    height: 50ch !important;
  }

  #parcours .button {
    display: block;
    height: clamp(72px, 40%, 80px);
    font-size: clamp(15px, 1.5rem, 32px);
  }
}

/*-- General: Grid Classes --*/
#parcours .container {
  max-width: 100%;
}

/*--------------------------------------------------------------
# Main: partners Section
--------------------------------------------------------------*/
/*-- General --*/
#partners {
  width: 100%;
  position: relative;
  isolation: isolate;
  overflow: hidden;
  padding-top: 30px;
  padding-bottom: 50px;
  padding-left: 7%;
  padding-right: 7%;
}

/*-- General: Default Classes --*/
#partners h1,
#partners p {
  color: var(--scr-colour-white);
  text-align: center;
}

/*-- General: Custom Classes --*/
#partners .slider-wrapper{
  margin-top: 25px;
}

#partners .slider-item {
  box-sizing: content-box;
  width: 100%;
  height: auto;
  border-radius: 100px;
  background: #fff;
  overflow: hidden;
}

@media (min-width: 992px) {
  #partners .slider-item {
    width: 80%;
    border-radius: 200px;
  }
}

/*-- General: Grid Classes--*/
#partners .container {
  max-width: 100%;
}

/*--------------------------------------------------------------
# Main: faq Section
--------------------------------------------------------------*/
/*-- General --*/
#faq {
  width: 100%;
  position: relative;
  isolation: isolate;
  overflow: hidden;
  padding-top: 30px;
  padding-bottom: 50px;
  padding-left: 7%;
  padding-right: 7%;
}

/*-- General: Default Classes --*/

/*-- General: Custom Classes --*/
#faq .faq-list {
  padding: 0 100px;
  margin-top: 20px;
}

#faq .faq-list ul {
  padding: 0;
  list-style: none;
}

#faq .faq-list li+li {
  margin-top: 15px;
}

#faq .faq-list li {
  padding: 20px;
  background: var(--scr-colour-lightgreen);
  border-radius: 15px;
  border-color: var(--scr-colour-white);
  border-style: solid;
  border-width: 5px;
  position: relative;
}

#faq .faq-list a {
  display: block;
  position: relative;
  color: var(--scr-colour-white);
  font-size: 0.89rem;
  line-height: 24px;
  font-weight: 500;
  padding: 0 30px;
  outline: none;
  cursor: pointer;
}

#faq .faq-list .icon-help {
  font-size: 24px;
  position: absolute;
  right: 0;
  left: 20px;
  color: var(--scr-colour-white);
}

#faq .faq-list .icon-show,
#faq .faq-list .icon-close {
  font-size: 24px;
  position: absolute;
  right: 0;
  top: 0;
}

#faq .faq-list p {
  margin-bottom: 0;
  padding: 10px 0 0 0;
  color: var(--scr-colour-white);
}

#faq .faq-list .icon-show {
  display: none;
}

#faq .faq-list a.collapsed {
  color: #fff;
  transition: 0.3s;
}

#faq .faq-list a.collapsed:hover {
  color: var(--scr-colour-green);
}

#faq .faq-list a.collapsed .icon-show {
  display: inline-block;
}

#faq .faq-list a.collapsed .icon-close {
  display: none;
}

@media (max-width: 992px) {
  #faq .faq-list {
    padding: 0;
  }
}

/*-- General: Grid Classes--*/
#faq .container {
  max-width: 100%;
  margin: 0;
}

/*--------------------------------------------------------------
# Pictures: pictures Section
--------------------------------------------------------------*/
/*-- General --*/
#pictures {
  width: 100%;
  position: relative;
  isolation: isolate;
  overflow: hidden;
  padding-top: 30px;
  padding-bottom: 50px;
  padding-left: 7%;
  padding-right: 7%;
}

/*-- General: Default Classes --*/
#pictures h1 {
  font-size: 7vw;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  color: var(--scr-colour-lightgreen);
}

#pictures h2 {
  font-size: 1.1rem;
  font-weight: 700;
  margin: 0px !important;
  text-transform: uppercase;
  text-align: start;
  color: var(--scr-colour-white);
}

/*-- General: Custom Classes --*/
#pictures .pictures-head{
  position: relative;
  z-index: 100;
  text-align: center;
}

#pictures .date-list ul {
  padding: 0;
  list-style: none;
  width: 40cqw;
}

#pictures .date-list li+li {
  margin-top: 15px;
}

#pictures .date-list li {
  padding: 15px;
  background: var(--scr-colour-brown);
  border-radius: 15px;
  border-color: var(--scr-colour-white);
  border-style: solid;
  border-width: 5px;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 800;
  text-transform: uppercase;
  color: var(--scr-colour-white);
}

#pictures .date-list li:hover {
   transform: translateY(5px);
}

#pictures .credits {
  font-size: 15px;
  margin-top: 5px;
  font-style: italic;
  color: var(--scr-colour-white);
}

#pictures .box-album1,
#pictures .box-album2,
#pictures .box-album3,
#pictures .box-album4,
#pictures .box-album5,
#pictures .box-album6,
#pictures .box-album7,
#pictures .box-album8,
#pictures .box-album9,
#pictures .box-album10,
#pictures .box-album11,
#pictures .box-album12,
#pictures .box-album13
 {
  padding-top: 20vh;
  margin-bottom: 20px;
  height: 40vh;
  width: 60vw;
  margin-right: 15px;
  position: relative;
  border-radius: 15px;
  overflow: hidden;
  z-index: 1000;
}

#pictures .box-album1 {
  background: url("https://live.staticflickr.com/65535/54468527485_8ea3c8b1fb_c.jpg") top center;
  background-size: cover;
}

#pictures .box-album2 {
  background: url("https://live.staticflickr.com/65535/54468600350_c936a84b6e_c.jpg") top center;
  background-size: cover;
}

#pictures .box-album3 {
  background: url("https://live.staticflickr.com/65535/54468453899_fdd4d27038_c.jpg") top center;
  background-size: cover;
}

#pictures .box-album4 {
  background: url("https://live.staticflickr.com/65535/54468516244_c6c6f08459_c.jpg") top center;
  background-size: cover;
}

#pictures .box-album5 {
  background: url("https://live.staticflickr.com/65535/54468997125_0132b9322c_c.jpg") top center;
  background-size: cover;
}

#pictures .box-album6 {
  background: url("https://live.staticflickr.com/65535/54468700426_27514e0262_c.jpg") top center;
  background-size: cover;
}

#pictures .box-album7 {
  background: url("https://live.staticflickr.com/65535/54469428459_f017d601d6_h.jpg") top center;
  background-size: cover;
}

#pictures .box-album8 {
  background: url("https://live.staticflickr.com/65535/54469812274_2374405862_c.jpg") top center;
  background-size: cover;
}

#pictures .box-album9 {
  background: url("https://live.staticflickr.com/65535/54547112730_1f28ab0cdd_c.jpg") top center;
  background-size: cover;
}

#pictures .box-album10 {
  background: url("https://live.staticflickr.com/65535/54467822141_b2a655f949_c.jpg") top center;
  background-size: cover;
}

#pictures .box-album11 {
  background: url("https://live.staticflickr.com/65535/54468198440_95a2c55b11_c.jpg") top center;
  background-size: cover;
}

#pictures .box-album12 {
  background: url("https://live.staticflickr.com/65535/54468068454_5f0abb241a_c.jpg") top center;
  background-size: cover;
}

#pictures .box-album13 {
  background: url("https://live.staticflickr.com/65535/54468053666_555deae656_c.jpg") top center;
  background-size: cover;
}

#pictures .box-album1::before,
#pictures .box-album2::before,
#pictures .box-album3::before,
#pictures .box-album4::before,
#pictures .box-album5::before,
#pictures .box-album6::before,
#pictures .box-album7::before,
#pictures .box-album8::before,
#pictures .box-album9::before,
#pictures .box-album10::before,
#pictures .box-album11::before,
#pictures .box-album12::before,
#pictures .box-album13::before {
  content: "";
  background-color: var(--scr-colour-brown);
  opacity: 0.6;
  position: absolute;
  inset: 0;
  z-index: 1001;
  margin-top: 30vh;
}

#pictures .box-album1:hover,
#pictures .box-album2:hover,
#pictures .box-album3:hover,
#pictures .box-album4:hover,
#pictures .box-album5:hover,
#pictures .box-album6:hover,
#pictures .box-album7:hover,
#pictures .box-album8:hover,
#pictures .box-album9:hover,
#pictures .box-album10:hover,
#pictures .box-album11:hover,
#pictures .box-album12:hover,
#pictures .box-album13:hover {
  transform: scale(1.03);
}

#pictures .box-album1:hover::before,
#pictures .box-album2:hover::before,
#pictures .box-album3:hover::before,
#pictures .box-album4:hover::before,
#pictures .box-album5:hover::before,
#pictures .box-album6:hover::before,
#pictures .box-album7:hover::before,
#pictures .box-album8:hover::before,
#pictures .box-album9:hover::before,
#pictures .box-album10:hover::before,
#pictures .box-album11:hover::before,
#pictures .box-album12:hover::before,
#pictures .box-album13:hover::before {
  margin-top: 0vh;
}

#pictures .box .img-fluid {
  margin: 0px !important;
  padding: 0px !important;
}

@media (min-width: 992px) {
  #pictures .date-list ul {
    width: 20cqw;
  }

  #pictures .box-album1,
  #pictures .box-album2,
  #pictures .box-album3,
  #pictures .box-album4,
  #pictures .box-album5,
  #pictures .box-album6,
  #pictures .box-album7,
  #pictures .box-album8,
  #pictures .box-album9,
  #pictures .box-album10,
  #pictures .box-album11,
  #pictures .box-album12,
  #pictures .box-album13 {
    width: 25vw;
  }
}


/*-- General: Grid Classes--*/
#pictures .container {
  max-width: 100%;
}

/*--------------------------------------------------------------
# footer Section
--------------------------------------------------------------*/

/*-- General --*/
#footer {
  width: 100%;
  position: relative;
  isolation: isolate;
  overflow: hidden;
}

/* General: Default Classes */
#footer p {
  font-size: 0.89rem;
  display: block;
}

#footer a {
  color: var(--scr-colour-white);
}

#footer h2 {
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  position: relative;
  display: block;
}

#footer h3 {
  margin: 0;
  font-weight: 700;
  color: var(--scr-colour-white);
  white-space: nowrap;
  letter-spacing: 0.03em;
  font-size: clamp(20px, 1.75rem, 30px);
  line-height: 1.0; 
}

#footer h4 {
  font-size: 0.95rem;
  display: block;
}

#footer img {
  border-radius: 15px;
}

/*-- General: Custom Classes --*/
#footer .img-logo {
  max-width: clamp(100px, 15%, 250px);
}

#footer .img-logo-lommelrockt {
  max-width: clamp(175px, 50%, 250px);
  align-self: center;
}

#footer .button {
  align-self: center;
  display: inline-flex;
  padding: 0.5rem 2rem;
  background: rgba(28,30,15,0.06);
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
  border-radius: 15px;
  position: relative;
  border:5px solid var(--scr-colour-white);
  overflow: hidden;
  width:max-content;
  align-items:center; 
  gap:.6rem; 
  height: clamp(45px, 10%, 60px);
  text-transform: uppercase;
  margin-top: 15px;
  margin-bottom: 45px;
}

#footer .button:hover {
  background: rgba(28,30,15,1);
  -webkit-backdrop-filter: blur(0px);
  backdrop-filter: blur(0px);
  transform: translateY(5px);
}

/*-- General: Grid Classes--*/
#footer .container {
  background: var(--scr-colour-lightgreen);
  color: var(--scr-colour-white);
  max-width: 100%;
  margin: 0px;
}

#footer .col-12,
#footer .col-lg-4 {
  flex-direction: column;
  padding: 30px;
}

/*TEMPLATE CLASSES*/
/*--------------------------------------------------------------
# Info Section
--------------------------------------------------------------*/

/*-- General --*/

/*-- General: Default Classes --*/

/*-- General: Custom Classes --*/

/*-- General: Grid Classes--*/